#selectorOfTimeZones {
    font-weight: bold;
    background-color: rgb(89, 116, 165);
    color: white;
    width: 70%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 5);
}

@media screen and (max-width: 470px) {
    label {
        font-size: 25px;
    }
}