.navBarMainStyle {
    background-image: url('/prague-clock.jpg');
    background-position: center;
    width: 100%;
    display: flex;
    color: white;
    font-weight: bold;
    justify-content: space-between;
}

.navTitleStyle {
    margin: auto 1%;
    font-size: 50px;
}

.localClockInNavBar {
    display: flex;
    align-items: center;
    font-size: 40px;
    padding: 2%;
    background-color: rgb(89, 116, 165);
}

.localClockInNavBarTextDiv {
    margin-right: 8px;
}

.localTimeDiv {
    color: rgb(15, 228, 164);
}

@media screen and (min-width: 613px) and (max-width: 625px) {
    .localClockInNavBar {
        padding: 0% 0% 0% 2%;
    }
  }

@media screen and (max-width: 470px) {
    .localClockInNavBar {
        flex-direction: column;
        font-size: 30px;
    }

    .navTitleStyle {
        font-size: 40px;
    }

    .localClockInNavBarTextDiv {
        margin-right: 0px;
    }
  }

  @media screen and (max-width: 425px) {
    .navBarMainStyle {
        flex-direction: column !important;
        text-align: center;
    }

    .localClockInNavBar {
        width: 100%;
        padding: 0%;
    }
  }