#clockId {
    color: rgb(89, 116, 165);
}

.styleForElementsInCardDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.styleForElementsInCardDiv button {
    align-self: end;
}