.searchBarDiv {
    font-size: 25px;
}

input {
    width: 70%;
    height: 5vh;
}

table {
    position:absolute;
    font-size: 14px;
    background-color: rgb(89, 116, 165);
    width: 100%;
    z-index: 1;
}

td {
    cursor: crosshair;
    height: 3vh;
    border: 1px solid white;
}

td:hover {
    background-color: rgb(56, 74, 107);
}