* {
  margin: 0px;
  padding: 0px;
}

body {
  background: linear-gradient(to right, rgb(89, 116, 165), rgb(152, 207, 175), rgb(15, 228, 164), rgb(89, 116, 165));
  background-size: 200% 100%;
  animation: AnimationOfTheBackground 5s linear infinite;
}

@keyframes AnimationOfTheBackground {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}